<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="container">

<header>
    <h1>Crancake Recipe</h1>
</header>

<article class="margin-top">
        <div class="section">
            <h2>Ingredients: </h2>
            <div class="list mg-top-2">
                <ul>
                    <li><p>1 lb. jumbo lump or backfin crab meat</p></li>
                    <li><p>2 slices bread or bread crumbs</p></li>
                    <li><p>1 tbsp. mayonnaise (light or regular)</p></li>
                    <li><p>1 tbsp. Dijon mustard</p></li>
                    <li><p>2 tbsp. Old Bay seasoning</p></li>
                    <li><p>1 tbsp. snipped parsley</p></li>
                    <li><p>1 egg (or substitute for special diets) </p></li>
                    <li><p>tartar sauce or cocktain sauce</p></li>
                </ul>
            </div>
        </div>

        <div class="section mg-top">
            <h1>Directions: </h1>
            <div class="mg-top-2">
                <p>Beat the egg in a bowl. Trim the crusts from the bread and break the slices into small pieces. Add these pieces to the egg. Mix in the mayonnaise, Dijon mustard, Chesapeake seasoning and parsley, and beat well.</p>
                <p>Place the crabmeat in a bowl and pour the egg mixture over the top. Gently toss or fold the ingredients together, taking care not to break up the lumps of crabmeat.</p>
                <p>Form the cakes by hand into patties about 3 inches around and 3/4-inch thick. Shape should be like a cookie, not like a meatball or golf ball. Place the cakes in the refrigerator for at least 45 minutes before cooking. This is very important so the cakes don't fall apart.</p>
            </div>
        </div>

        <div class="section mg-top">
            <h2>Broil the Crab Cakes: </h2>
            <div class="mg-top-2">
                <p>Slip them under a preheated broiler until nicely browned, turning to cook evenly, about 4 to 5 minutes on each side.</p>
            </div>
        </div>

        <div class="section mg-top">
            <h2>Or Saute: </h2>
            <div class="mg-top-2">
                <p>Heat a small amount of butter or olive oil in a skillet and saute the cakes, turning several times, until golden brown or about 8 minutes total cooking time.</p>
                <p>Serve at once with tartar sauce, mustard, or cocktail sauce on the side.</p>
                <p class="bold">Serves 6 people</p>
            </div>
        </div>


</article>

</div>
<footer></footer>
<!--Bootsrap JS Files-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>